{% include 'header.twig' %} 

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
<script>
    var socket = io.connect('https://chatp2p-evandrozanatta.c9users.io');

    console.log(socket.id);
    
    socket.on('connect', function(){
        console.log(socket.id);
        
        socket.emit('chat message', { id: '{{ user_logged.id }}', name: '{{ user_logged.name }}' });
        
    });
</script>

<h1>Chats</h1>

<ul>
    {% for user in users %}
        <li>
            <a id="user-{{ user.user_id }}'" href="/chat/?call={{ user.user_id }}">Falar com {{ user.user_name }}</a>
        </li>
        <br>
    {% endfor %}
</ul>

{% include 'footer.twig' %}